# Backend
backend/target/
backend/*.jar
backend/.idea/
backend/*.iml
backend/.mvn/wrapper/maven-wrapper.jar

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.DS_Store
frontend/*.local

# General
*.log
*.tmp
*.swp
.idea/
.vscode/
*.iml
